/*place global styles here */
html,
body {
	@apply h-full overflow-hidden;
}
#page {
	scroll-behavior: smooth;
}
/* disable scroll bar only on mobile */
@media (max-width: 740px) {
	#page::-webkit-scrollbar {
		display: none;
	}
}
